.row{
    margin-top : 30vh;
    max-height: 40vh;
}

.login{
    text-align: center;
    border-radius: 6px;
    color: whitesmoke;
    font-weight: bold;
}
button{
    margin-bottom: 8px;
}
.form-group{
    margin: 10px;
}

a{
    margin-bottom: 10px;
}